* {
  box-sizing: border-box;
}

body {
  margin : 0;
  padding: 0;
  font-family: helvetica,arial,sans-serif;
} 

/* NAV BAR */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #120304;
}

.nav-bar__header {
  display: flex;
}

.nav-bar__logo {
  width: 30%;
  height: auto;
  margin-left: -3%; 
} 

.nav-bar__title {
  line-height: 1.6;
  margin-left: -5%;
  color : #999;
}

.nav-bar__icons {
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.nav-bar__icon {
  color : #999;
  margin: 0 10%;
}

.nav-bar__categories {
  display:flex;
  flex-direction: column;
}

.categories__dropdown {
  padding: 5% 5%;
  background-color:#EEEEEE;
  display: none;
}

.category-label {
  position: relative;
  display: block;
  cursor: pointer;
}

.category {
  list-style: none;
  color : #999;
  text-transform: capitalize;
  color: #050100;
  border-bottom : 1px solid lightgray;
  padding :3% 0;
  font-size: 18px;
  font-weight: 600;
}

/* SEARCH BAR */

.user-search {
  display: block;
}

.form-container {
  display: none;
  background-color:#333;
}

.active {
  display: flex;
  flex-flow: row wrap;
}

.search-box {
  width: 100%;
  height: 180px;
  color: #999;
  margin-top: 2%;
  padding: 5% 0 0 10%;
}

.search-box__container {
  display: flex;
  flex-flow: row-reverse;
  border-bottom: 1px solid #999;
  width: 95%;
  justify-content: space-between;
  margin-top:-3%;
}

.search-box__header {
  padding-bottom: 1%;
}

.fa-times-circle  {
  margin-top: 4%;
}

input {
  margin-top: 8%;
}

.search-box__field,
.search-box__button {
  height: 40px;
}

.search-box__field {
  width: 80%;
  font-size: 18px;
}

.search-box__button {
  margin-left: -5%;
  background-color: #cc5500;
  color: #fff;
  padding: 0px 15px;
}

/* STOCK MARKETS */
.stock-markets {
  display: flex;
  flex-direction: row;
  background-color: #050100;
  justify-content: space-around;
  padding: 2% 0;
  font-size: 13px;
}

.stock-markets__ftse,
.stock-markets__ibex,
.stock-markets__wallstreet {
  list-style: none;
  color : #fff;
}

/* SECTION HEADER*/

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3%;
}

.section-header__wire {
  color : #999;
}
/* MAIN STORY */

.breaking_news {
  max-width: 100%;
}

.article {  
  margin-bottom: 5%;
  max-width: 100%;
}

.article__content {
  margin: 0 5%;
}

.article__title {
  text-decoration: none;
  color: #120304;
  font-size: 22px;
  font-weight: 700;
}

.article__description {
  font-size: 18px;
}

.article__image > img { 
  max-width: 100%;
}

.article:nth-child(n + 2) {
  display: flex;
  font-size: 16px;
}

/* HIGHLIGHTS */

.highlights {
  display: flex;
  flex-direction: row wrap;
  padding: 5% 0;
  border-bottom: 1px solid lightslategrey;
  width: 90%;
  margin: 0 auto;
}

.highlights__image {
  max-width:45%;
  height:auto;
  margin:0 1%;
}

.highlights__title {
  max-width:45%;
  margin:0 3%;
  text-decoration: none;
  color: #120304;
  font-size: 18px;
  font-weight: 700;
}
